<div class="blue-background" ng-controller="SignInController as vm">
	<span ui-sref="landing">HOME</span>
	<div layout="column" layout-align="center center">
	<img src="app/components/images/dog.jpg">
	TRANSLATION  TOOL

	<div class="form-region" layout="column" layout-align="start center">
	  <input type="text" ng-model="vm.username" placeholder="Your Name" required>
	  <input type="password" ng-model="vm.password" placeholder="password" required>
	  <button class="md-button md-raised md-cornered" ng-click= "vm.logIn($event)">Sign In</button>
	  <div class= "errormessage" ng-show="vm.faillogin" ng-bind="vm.failmessage"></div>

	</div>

	</div>
</div>