@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$primary-color: #71C6FF;

@mixin enlarge($scale) {
  opacity: 1;
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

body {
  font-family: 'Arvo', serif;
}

.md-display-3:hover {
  @include enlarge(1.2);
}

.featureimg {
  padding: {
    top: 10%;
    left: 10%;
  }

  height: 60%;
  width: auto;
  max-width: 80%;

  &:hover {
    @include enlarge(1.2);
  }
}


.buttons {
  background-color: $primary-color;
}

.first {
  @extend .buttons;
  height:550px;
  margin-bottom: 0px;
}

.cover{
  height:100%;
  width:75%;
  padding-left:25%;
}

.paragraph {
  width: 50%;
}

.startbutton{
  margin-top: 50px;
}

.carousel {
  background-color: white;
  height: 350px;
}

.description {
  height: 100%; 
}

.information {
  @extend .buttons;
  height: 500px;
}

.features {
  margin: {
    top: 0px;
    bottom: 20px;
  }
  padding: {
    top: 20px;
    bottom: 20px;
    left: 5%;
  }
}

.feature {
  height: 300px;
  background-color: white;
}

.soc-medias {
  margin-top: 0px;
  background-color: yellow;
  height: 60px;
  div {
    height: 100%;
  }
}

.md-button:active {
  color: red;  
}

@media only screen and (max-width: 706px) {
  .quicksearch {
    display: none;
  }
}
