$primary-color: #71C6FF;

@import url(http://fonts.googleapis.com/css?family=Arvo);

body {
  font-family: 'Arvo', serif;
}

.blue-background2 {
  background-color: $primary-color;
  height:100%;
  width: 100%;
  min-height: 700px;
  
}

.mainregion {
  width:100%;

}

.tableregion {
  background-color: white;

  .tableregion2 {
  	width:100%;
  	height:100%;

  	.tableregion3 {
  		height:100%;

  		.translationTable {
  			height:100%;
  			width: 100%;
  			border-collapse: collapse;

        .tableheader {
          width: 50%;

          th {
           background-color: #ebff00;
           width:100px;
          }
        }
  		}
  	}
  }
}

.addnew-row {
  td {
    input {
      width: 80%;
    }

  }
  
}



.icon {
  width: 20px;
  height: 20px;
  padding-left: 20%;
}

.add-icon {
  width: 20px;
  height: 20px;
  padding-left: 40%;
  
}

.lastregion {
	background-color: $primary-color;
	height: 50px;
	width:100%;
}

.searchregion1 {
  background-color: $primary-color;
}

.searchregion{
  margin-left: 50px;

  input[type=search] { 
    width:70%;
  }
}