<div class="blue-background2" ng-controller="TranslationListController as vm">
    <div layout="column" layout-align="start center">
        <h1>TRANSLATION LIST</h1>

        <div class="mainregion" layout="row" layout-align="start start">
            <div flex="20">
            </div>

            <div class="tableregion" flex="60" layout="row" layout-align="center">
                <div class="tableregion2" flex="100" ng-hide="vm.listshown">
                    Click SHOW to show List
                </div>
                <div class="tableregion2" flex="100" ui-view="section" ng-show="vm.listshown"></div>
            </div>

            <div layout="column" layout-align="start center">
                <span class="md-button md-raised md-cornered" ng-click="vm.listshown= true" ui-sref="translationList.detail({ translationId: 5454 })">SHOW LIST</span>
                <span class="md-button md-raised md-cornered " ng-click="vm.listshown= false" ui-sref="translationList">HIDE LIST</span>
                <span class="md-button md-raised md-cornered">Mark as Inactive</span>
            </div>

        </div>

        <div class="lastregion">
        </div>

    </div>
</div>