$primary-color: #71C6FF;

@import url(http://fonts.googleapis.com/css?family=Arvo);

@mixin maxsize {
  height: 100%;
  width: 100%;
}

@mixin icon-size {
  height: 20px;
  width: 20px;
}

body {
  font-family: 'Arvo', serif;
}

.blue-background2 {
  background-color: $primary-color;
  @include maxsize;
  min-height: 700px;
  
}

.mainregion {
  width:100%;

}

.tableregion {
  background-color: white;

  .tableregion2 {
  	@include maxsize;


  	.tableregion3 {
  		height:100%;

  		.translationTable {
        @include maxsize;

  	
  			border-collapse: collapse;

        .tableheader {
          width: 50%;

          th {
           background-color: #ebff00;
           width:100px;
          }
        }
  		}
  	}
  }
}


.transnavbar {
  padding-left: 80%; 
}

.transnav {
  color: red;
}

.addnew-row {
  td {
    input {
      width: 80%;
    }
  }
}

.icon {
  @include icon-size;
  padding-left: 20%;
}

.add-icon {
  @include icon-size;
  padding-left: 40%;
  
}

.lastregion {
	background-color: $primary-color;
	height: 50px;
	width:100%;
}

.searchregion1 {
  background-color: $primary-color;
}

.searchregion{
  margin-left: 25%;

  input[type=search] { 
    width:80%;
  }
}