$primary-color: #71C6FF;

@import url(http://fonts.googleapis.com/css?family=Arvo);

body {
  font-family: 'Arvo', serif;
}

.blue-background2 {
  background-color: $primary-color;
  height:100%;
  width: 100%;
  
}

.mainregion {
  width:100%;
}

.table {
  background-color: white;
  height: 800px;
  round-border: 25px;
  
}